.profile-container {
  border-radius: 15px;
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: white;
  gap: 1rem;
}

.profile-container .profile-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-container .profile-logo img {
  width: 60%;
  border-radius: 80%;
}

.profile-container .profile-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1.2rem;
  padding-top: 0.5rem;
}

.profile-details div {
  display: flex;
  align-items: center;
}

.profile-details div h4 {
  font-weight: 700;
  word-wrap: break-word;
  width: 20%;
  max-height: 70vh;
}

/* StatusBar Container  */

@media screen and (max-width: 1170px) {
  .topbar-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .profile-container {
    width: 100%;
  }
}
