.container {
  border-radius: 15px;
  background-color: white;
  width: 35%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: white;
}
.profile {
  border: 0.5px solid rgb(255, 244, 244);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background: white;
}
.container .profile-details {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
 
}
.container .profile-details p {
  background-color: hsl(300, 13%, 95%);
  gap: 0.5rem;
  margin-bottom: 20px;
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding: 0.5rem;
  margin-left: 10px;
  word-break: break-all;
}
.container .profile-details h4 {
  background-color: rgb(250, 248, 250);
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  max-width: 40%;
  word-wrap: break-word;
}
